.login-wrapper {
  background: url("/assets/login_background.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.login-container {
  height: fit-content;
  width: 540px;
  border: 2px white solid;
  border-radius: 8px;
  background: white;
  margin-left: 12px;
  margin-right: 12px;
}

.login-icon-container {
  margin-top: 20px;
}

.login-icon-container img {
  max-height: 200px;
}

.login-header-container {
  margin-top: 40px;
}

.login-action-container {
  height: 80%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.btn {
  margin-right: 8px;
}

.btn[disabled] {
  background-color: lightgray;
}

.create-icon, .join-icon {
  margin-right: 8px;
}

.create-container, .join-container {
  display: inline-grid;
  margin-top: 20px;
  margin-bottom: 12px;
}

.back {
  display: flex;
  justify-content: left;
  align-self: baseline;
  margin-left: 12px;
  color: var(--main-blue);
  font-size: 11pt;
}

.exclamation-circle {
  font-size: 24px;
  color: red;
  margin-right: 8px;
}

.check-circle {
  font-size: 24px;
  color: green;
  margin-right: 8px;
}

.status {
  display: flex;
  align-items: center;
}

.status-container {
  width: 400px;
  margin-left: auto;
  margin-top: 12px;
  margin-bottom: 12px;
}

.status-header {
  text-align: initial;
}

:host ::ng-deep  .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: var(--main-blue) !important;
}

:host ::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: var(--main-blue) !important;
}


